.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 15px 15px 0;
    border-radius: 5px;
}

/* left header */
.left_header {
    width: 50%;
}

.right_header {
    padding-right: 0;
}

.logo_header {
    width: 35%;
}

.date-present {
    font-size: 20px;
    margin-left: 18px;
    line-height: 25px;
}

@media screen and (max-width: 1080px) {
    .header {
        padding: 50px 20px;
    }

    .logo_header {
        margin-bottom: 10px;
    }

    .time_header {
        font-size: 100px;
        line-height: 80px;
    }

    .date-present {
        font-size: 30px;
        margin-left: 25px;
        line-height: 40px;
    }

    .right_header {
        padding-right: 20px;
    }
}