.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 15px 15px 0;
    border-radius: 5px;
}

/* left header */
.left_header {
    width: 50%;
}

.logo_header {
    width: 50%;
}

.date-present {
    font-size: 20px;
    margin-left: 18px;
}

@media screen and (max-width: 1080px) {
    .time_header {
        font-size: 110px;
        margin-top: 20px;
    }

    .date-present {
        font-size: 35px;
        margin-left: 40px;
    }
}