.list-day-select {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 20px;

    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 3px;
}

.day-of-week-wrap_body {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6d096;
    min-height: 80px;
    position: relative;
    cursor: pointer;
    border-radius: 5%;
}

.day-of-week_body {
    font-size: 13px;
}

.date_body {
    font-size: 30px;
    font-weight: 500;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f4f6fc;
    position: absolute;
    bottom: 5px;
}

.day-focus {
    background-color: red;
    color: #f4f6fc;
}

@media screen and (max-width: 1080px) {
    .day-of-week-wrap_body {
        min-height: 130px;
    }

    .day-of-week_body {
        font-size: 20px;
    }

    .date_body {
        font-size: 50px;
    }

    .dot {
        width: 10px;
        height: 10px;
    }
}