
*{
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

.disclaimer {
  display: none !important;
}

.App {
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
}

#main {
  height: 100vh;
  width: 550px;
  padding: 20px;
  background-color: rgb(82, 103, 165);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background_content-rain {
  background-image: url("./image/rain_background.jpg");
}
.background_content-broken_clouds {
  background-image: url("./image/broken_clouds_background.jpg");
}
.background_content-clear_sky {
  background-image: url("./image/clear_sky_background.jpg");
}
.background_content-few_clouds {
  background-image: url("./image/few_clouds_background.jpg");
}
.background_content-mist {
  background-image: url("./image/mist_background.jpg");
}
.background_content-scattered_clouds {
  background-image: url("./image/scattered_clouds_background.jpeg");
}
.background_content-shower_rain {
  background-image: url("./image/shower_rain_background.jpg");
}
.background_content-snow {
  background-image: url("./image/snow_background.jpg");
}
.background_content-thunderstorm {
  background-image: url("./image/thunderstorm_background.jpg");
}

.flex {
  display: flex;
}

@media screen and (max-width: 1080px) {
  #main {
    width: 100vw;
  }
}
