
*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
}

.main {
  height: 95vh;
  width: 500px;
  padding: 20px;
  background-color: rgb(82, 103, 165);
}

@media screen and (max-width: 1080px) {
  .main {
    width: 100vw;
  }
}
